/* CUSTOM SHAPES */
.shape-AddVertex {
	-fx-background-color: -icon-paint;
	-fx-shape: "m 2.4531704,0.99478562 c 0.5727585,-0.22262 1.1942656,-0.28942 1.8012676,-0.19382 C 6.151488,1.1048056 7.442871,2.8892056 7.138565,4.7861756 7.08951,5.0880656 7.0010787,5.3808156 6.8764958,5.6572743 6.7519127,5.9337331 6.591178,6.1939006 6.397516,6.4306256 l 0.556615,0.767 c 0.175084,0.24126 -0.141367,0.67863 -0.394586,0.87341 -0.280189,0.21551 -0.868692,0.41854 -1.046097,0.17411 l -0.558271,-0.76922 c -0.572928,0.22273 -1.194639,0.28953 -1.8018203,0.19383 -1.8968256,-0.30411 -3.18790039,-2.08842 -2.88357449,-3.98521 0.097952,-0.60372 0.3533712,-1.17094 0.74049659,-1.64445 l -0.55992809,-0.77142 c -0.1751776,-0.24134 0.166456,-0.68211998 0.4266631,-0.87700998 0.27438849,-0.20551 0.83660479,-0.41612 1.01401979,-0.17161 z M 2.2786762,3.0831956 H 1.6442014 v 0.54502 h 0.6344748 v 0.63117 H 2.824247 v -0.63117 h 0.6344748 v -0.54502 H 2.824247 v -0.63171 H 2.2786762 Z m -0.3738328,2.99116 c 0.2570329,0.30114 0.6236744,0.50236 0.9917465,0.63668 1.0774651,0.37994 2.3716111,-0.0774 2.9708211,-1.05028 0.643017,-0.97171 0.503748,-2.38227 -0.352302,-3.18397 -0.0027,0 -0.0061,-1.1e-4 -0.0088,-10e-4 z m 3.5616676,-1.11368 v 0.54724 H 3.658617 v -0.54668 z";
	     /* original size: 28 x 32*/
	-fx-min-height: 21.0;
    -fx-min-width: 19.0;
    -fx-max-height: 21.0;
    -fx-max-width: 19.0;
}

.shape-AddEdge {
	-fx-shape: "m 4.0086766,0 5.545e-4,0.0037134 c -0.8581029,1.2195e-4 -1.5541866,0.68164767 -1.5543298,1.5224228 1.913e-4,0.3932961 0.1557911,0.7712231 0.4340435,1.0547198 0.00146,0.00301 0.00255,0.00328 0.00375,0.00629 0.00295,0.00301 0.00684,0.00275 0.00976,0.00578 0.427826,0.4280568 1.1228544,0.5672166 1.6863894,0.3330165 C 5.1560767,2.7048126 5.5562977,2.1324655 5.5559789,1.5334351 5.5640134,1.1396193 5.3928387,0.75735068 5.1235583,0.46970102 c -0.00775,-0.009158 -0.018253,-0.018412 -0.027599,-0.0275743 l 0.00267,-0.003189 C 4.8084098,0.15808414 4.4167538,6.1076e-4 4.0086766,0 Z M 3.3316335,0.67451132 H 3.5881631 V 0.79965686 0.9656334 H 3.7581007 3.8869076 V 1.2175146 H 3.7581007 3.5881631 V 1.3829607 1.5086363 H 3.3316335 V 1.3829603 1.2175142 H 3.1616962 3.0328889 V 0.96563289 H 3.1616962 3.3316335 V 0.79965646 Z m 1.519693,0.009016 c 0.00128,7.0327e-4 0.00307,0.001061 0.00429,0.001061 C 5.2587314,1.0544261 5.3245249,1.7051788 5.0217593,2.1534513 4.7396021,2.6022412 4.130629,2.8133764 3.6232942,2.6381234 3.449981,2.5761153 3.276724,2.4830129 3.1556972,2.3443494 Z M 0.79935403,0.73602381 C 0.36013648,0.73602393 -1.1956109e-7,1.0872995 0,1.517651 c -1.1956109e-7,0.4303511 0.36013648,0.7832184 0.79935403,0.7832184 0.005557,0 0.0106994,-0.00143 0.0162365,-0.00159 L 1.253422,4.0767783 c -0.26108478,0.1286473 -0.4427023,0.391336 -0.4427023,0.6962533 0,0.4303517 0.3585129,0.7832184 0.7977302,0.7832184 0.387841,0 0.7131824,-0.2756388 0.7841995,-0.636332 L 3.5811276,4.905604 c 0.070891,0.3600829 0.3943905,0.6336802 0.7820359,0.6336802 0.4392178,0 0.7998953,-0.3512766 0.7998953,-0.7816282 0,-0.4303514 -0.3606775,-0.783218 -0.7998953,-0.783218 -0.3652759,0 -0.6709248,0.2456137 -0.7647174,0.5753498 L 2.37479,4.5630392 C 2.2799557,4.2346241 1.973084,3.9914024 1.6084499,3.9914024 c -3.686e-4,0 -7.149e-4,-1.2e-6 -0.00108,0 L 1.1662883,2.2080696 c 0.054486,-0.028131 0.1047856,-0.06151 0.1509952,-0.1007518 L 1.5088686,2.2801869 1.7561975,2.0192918 1.5348464,1.8193776 c 0.039913,-0.093073 0.062238,-0.1949029 0.062238,-0.3017271 0,-0.4303514 -0.3585129,-0.7816272 -0.79773037,-0.78162669 z m 0,0.2608958 c 0.29545717,0 0.53091847,0.23123829 0.53091847,0.52073139 0,0.2894929 -0.2354613,0.5223221 -0.53091847,0.522322 -0.29545717,0 -0.53308301,-0.2328291 -0.53308301,-0.522322 0,-0.2894931 0.23762584,-0.52073139 0.53308301,-0.52073139 z M 3.9816162,1.8305122 v 0.2518809 h 0.1288072 0.594239 0.1282715 V 1.8305134 H 4.7046624 4.1104234 Z M 2.0224686,2.2595049 1.7751397,2.5225232 2.0419517,2.7627376 2.2892811,2.5018424 Z M 2.5571757,2.7441784 2.3103878,3.0050737 2.5766581,3.2474097 2.8239869,2.9865145 Z M 3.0902584,3.2267289 2.8429296,3.4897458 3.1113652,3.7320831 3.357071,3.469065 Z M 3.6255064,3.711401 3.3781776,3.9728277 3.6444479,4.2151638 3.8917766,3.9537385 Z m 0.7376571,0.5244435 c 0.2954569,0 0.5330827,0.2322988 0.5330827,0.5217929 0,0.2894915 -0.2376258,0.5207302 -0.5330827,0.5207302 -0.295457,0 -0.5309189,-0.2312387 -0.5309189,-0.5207302 0,-0.2894941 0.2354619,-0.5217929 0.5309189,-0.5217929 z m -2.7547138,0.016439 c 0.2954573,0 0.5330827,0.2312374 0.5330827,0.5207316 0,0.2894927 -0.2376254,0.5217915 -0.5330827,0.5217915 -0.2954571,0 -0.5309184,-0.2322988 -0.5309184,-0.5217915 0,-0.2894942 0.2354613,-0.5207316 0.5309184,-0.5207316 z";
	-fx-background-color: -icon-addEdge;
	-fx-min-height: 21.0;
    -fx-min-width: 21.0;
    -fx-max-height: 21.0;
    -fx-max-width: 21.0;
}

.shape-clear {
	-fx-shape: "M 3.9197595,0.02371899 C 3.7305322,0.02392922 3.5408547,0.09594179 3.3973404,0.23941105 l -0.048106,0.0481046 c -0.00113,8.1079e-4 -0.00257,0.001068 -0.0036,0.002071 L 2.7983913,0.83683484 c -0.00111,7.9076e-4 -0.00205,0.002174 -0.00308,0.00517 L 1.4938704,2.143399 C 1.2068403,2.430407 1.2057989,2.9006727 1.492836,3.1877201 L 2.3659499,4.059283 c 0.2870337,0.2870474 0.7578095,0.2870269 1.044838,0 L 5.3142585,2.1558125 c 0.2870303,-0.2870286 0.2870337,-0.7578319 0,-1.0448397 l -0.00719,-0.00827 c -8.611e-4,-7.807e-4 -0.00171,-0.00155 -0.00257,-0.00155 L 4.4520069,0.24820423 c -8.765e-4,-7.9058e-4 -0.00169,-5.5074e-4 -0.00257,-0.001552 l -0.0077,-0.008269 C 4.2981455,0.0948576 4.1089885,0.02350876 3.9197595,0.02371899 Z M 2.5656064,1.5842539 c 0.027939,0.1327939 0.08969,0.2583027 0.1908639,0.3594868 L 3.6088952,2.7961639 C 3.7099869,2.8973412 3.8351455,2.9585612 3.9678641,2.9865108 L 3.1526831,3.8011764 C 3.0038959,3.9499807 2.7718096,3.9513503 2.6230207,3.8022105 L 1.7499079,2.9296135 C 1.6011195,2.7808246 1.6021565,2.5482041 1.7509424,2.3994358 Z M 0.89076009,3.7385886 A 0.8716983,0.29964809 0 0 0 0.01868132,4.0385922 0.8716983,0.29964809 0 0 0 0.84989763,4.3375617 L 1.2305916,4.8786019 A 0.98980794,0.34024856 0 0 0 0.61558467,5.1936057 0.98980794,0.34024856 0 0 0 1.6055958,5.5334365 0.98980794,0.34024856 0 0 0 2.5340548,5.3099853 l 1.0081147,-0.00308 A 0.89532023,0.30776823 0 0 0 4.2916606,5.4465661 0.89532023,0.30776823 0 0 0 5.1864977,5.1388039 0.89532023,0.30776823 0 0 0 4.2916606,4.8310434 0.89532023,0.30776823 0 0 0 3.9580357,4.8532818 L 1.7095626,4.1399732 A 0.8716983,0.29964809 0 0 0 1.7623219,4.0385922 0.8716983,0.29964809 0 0 0 0.89076009,3.7385886 Z M 1.3459377,4.293595 3.5204446,4.983085 A 0.89532023,0.30776823 0 0 0 3.4335456,5.051358 L 2.5071547,5.053928 A 0.98980794,0.34024856 0 0 0 1.6055924,4.8532339 0.98980794,0.34024856 0 0 0 1.5274873,4.8542697 L 1.1535217,4.3235955 a 0.8716983,0.29964809 0 0 0 0.192416,-0.029994 z";
	-fx-background-color: -icon-clear;
	-fx-min-height: 21.0;
    -fx-min-width: 21.0;
    -fx-max-height: 21.0;
    -fx-max-width: 21.0;
}

.shape-console {
	-fx-shape: "M 4.8739065,1.5077839e-8 C 3.4814,0.01033205 2.0879948,0.00125596 0.69521242,0.00414015 0.3395464,-0.0223055 -0.04226582,0.2964873 0.00377037,0.70020016 0.00747868,2.1415989 -0.00436357,3.5826889 0.00946755,5.0240526 0.06857112,5.4238151 0.43412057,5.5621305 0.83350105,5.5560596 H 4.9914776 C 5.3369701,5.5571768 5.5759733,5.2845509 5.554988,4.8134243 V 0.53977109 C 5.5034205,0.19890037 5.175638,0.00490143 4.8739044,1.0950778e-6 Z M 0.58528538,1.7724949 H 4.9589455 v 3.031337 c 0,0.137807 -0.097339,0.2401278 -0.227891,0.2401278 H 0.82871462 c -0.13055384,0 -0.24342924,-0.1023208 -0.24342924,-0.2401278 z M 1.8931947,2.119231 C 1.7139132,2.2375161 1.5348586,2.35648 1.3555788,2.474765 1.5069486,2.6619737 1.6579202,2.8485424 1.8092891,3.0357534 1.6589896,3.2137745 1.5084684,3.3923273 1.3581684,3.5703481 1.5351707,3.6915961 1.7125649,3.8123952 1.8895692,3.9336446 2.1400665,3.6370433 2.390593,3.3401181 2.6410917,3.0435161 2.3917991,2.7353538 2.1424866,2.4273951 1.8931947,2.119231 Z M 2.7669496,3.6303799 V 4.1339238 H 4.2135404 V 3.6303799 Z";
	-fx-background-color: -icon-console;
     /* original size: 21 x 21*/
    -fx-min-height: 21.0;
    -fx-min-width: 21.0;
    -fx-max-height: 21.0;
    -fx-max-width: 21.0;
}

.shape-centre-graph {
	-fx-shape: "M 0.07489124,0.07542422 V 2.204422 H 0.94374033 V 0.94427227 H 2.137342 V 0.07542422 Z m 6.25390046,0 V 0.94427227 H 7.5223934 V 2.204422 h 0.869382 V 0.07542422 Z M 2.4509152,2.6063714 V 5.8602952 H 6.0157504 V 2.6063714 Z M 0.07489124,6.3974695 V 8.3912424 H 2.137342 V 7.5223944 H 0.94374033 V 6.3974695 Z m 7.44750216,0 V 7.5223944 H 6.3287917 v 0.868848 H 8.3917754 V 6.3974695 Z";
	-fx-background-color: -icon-centre;
     /* original size: 32 x 32*/
    -fx-min-height: 20.0;
    -fx-min-width: 21.0;
    -fx-max-height: 20.0;
    -fx-max-width: 21.0;
} 

.shape-alg {
	-fx-shape: "M 3.8071726,0.03787897 3.3870686,0.0383955 3.1646,0.53196574 A 1.4988373,1.4988373 0 0 0 2.8893594,0.64630438 L 2.382855,0.45436036 2.0853676,0.75133034 2.2767943,1.2573174 A 1.4988373,1.4988373 0 0 0 2.1624557,1.5335926 L 1.6694028,1.7555447 V 2.1756486 L 2.1634904,2.3986347 A 1.4988373,1.4988373 0 0 0 2.277829,2.6743924 L 2.085885,3.1803797 2.3823376,3.4778671 2.8883247,3.2864402 a 1.4988373,1.4988373 0 0 0 0.2767927,0.1143387 l 0.2219512,0.4930529 h 0.420104 L 4.0301587,3.3992269 A 1.4988373,1.4988373 0 0 0 4.3053989,3.2854055 L 4.8119037,3.4778671 5.1088734,3.180897 4.9169295,2.6749101 A 1.4988373,1.4988373 0 0 0 5.0317856,2.3981174 L 5.5253557,2.176166 5.524826,1.7555448 5.0312555,1.5335934 A 1.4988373,1.4988373 0 0 0 4.9169295,1.2578355 L 5.1088734,0.75133114 4.8119037,0.45436116 4.3059163,0.64630517 A 1.4988373,1.4988373 0 0 0 4.0296411,0.53144922 Z M 3.5971205,1.2252414 A 0.74108637,0.74108637 0 0 1 4.3379933,1.9661141 0.74108637,0.74108637 0 0 1 3.5971205,2.7069867 0.74108637,0.74108637 0 0 1 2.8562478,1.9661141 0.74108637,0.74108637 0 0 1 3.5971205,1.2252414 Z M 0.77383667,1.7167421 c -0.40770377,0 -0.7429422,0.3357629 -0.7429422,0.7434596 0,0.3884249 0.30520703,0.7075918 0.68654894,0.7372512 L 1.0283823,4.2042533 C 0.86269618,4.3409831 0.75469399,4.5454364 0.75469399,4.775429 c 0,0.4077067 0.33316901,0.7429423 0.74087271,0.7429423 0.2818184,0 0.526586,-0.1621839 0.6524026,-0.3957875 l 1.4527729,-0.077605 c 0.1113607,0.2708125 0.3780336,0.4635628 0.6870663,0.4635628 0.4077038,0 0.7413901,-0.3352354 0.7413901,-0.7429422 0,-0.4077067 -0.3336863,-0.7429423 -0.7413901,-0.7429423 -0.3315449,0 -0.6117882,0.2230274 -0.7062091,0.5251298 L 2.2219531,4.6207356 C 2.1499395,4.2863015 1.8502469,4.0319692 1.4955667,4.0319692 c 0,0 -5.165e-4,0 -5.165e-4,0 L 1.1980803,3.0670757 C 1.3899304,2.93216 1.5172971,2.7104369 1.5172971,2.4602017 c 0,-0.4076967 -0.3357559,-0.7434596 -0.74346043,-0.7434596 z m 0,0.3988917 c 0.19289788,0 0.34612003,0.1516723 0.34612003,0.3445679 0,0.1929055 -0.15322215,0.3461199 -0.34612003,0.3461199 -0.19289787,0 -0.34405053,-0.1532144 -0.34405053,-0.3461199 0,-0.1928956 0.15115266,-0.3445679 0.34405053,-0.3445679 z M 4.2878085,4.4215485 c 0.1928978,0 0.3440505,0.1511548 0.3440505,0.3440505 0,0.1928955 -0.1511527,0.3440506 -0.3440505,0.3440506 -0.192898,0 -0.3461201,-0.1511551 -0.3461201,-0.3440506 0,-0.1928957 0.1532221,-0.3440505 0.3461201,-0.3440505 z m -2.7922418,0.00931 c 0.1928979,0 0.3461201,0.1516725 0.3461201,0.344568 0,0.1929055 -0.1532222,0.3440505 -0.3461201,0.3440505 -0.1928979,0 -0.3440505,-0.151145 -0.3440505,-0.3440505 0,-0.1928955 0.1511526,-0.344568 0.3440505,-0.344568 z";
	-fx-background-color: -icon-alg;
	-fx-min-height: 18.0;
    -fx-min-width: 18.0;
    -fx-max-height: 18.0;
    -fx-max-width: 18.0;
}

.shape-circle {
	-fx-shape: "M 1.11125,0.55562997 A 0.55562502,0.55562502 0 0 1 0.55562496,1.11125 0.55562502,0.55562502 0 0 1 -5.5034955e-8,0.55562997 0.55562502,0.55562502 0 0 1 0.55562496,-2.5232623e-8 0.55562502,0.55562502 0 0 1 1.11125,0.55562997 Z";
	-fx-background-color: -icon-arrow;
	 /* original size: 29 x 14*/
	-fx-min-height: 4.0;
    -fx-min-width: 4.0;
    -fx-max-height: 4.0;
    -fx-max-width: 4.0;
}
.shape-circle:hover {
	-fx-background-color: #006FFF;
}
.shape-circle:pressed {
	-fx-background-color: #002c66;
	-fx-effect: dropshadow(two-pass-box , #002c66 , 1.9, 0.05 , 0.0 , 1.0 );
}
.shape-hide-leftpane {
	-fx-shape: -shape-hide-show;
	-fx-background-color: -icon-hide-leftpane;
	-fx-opacity: 0.6;
	-fx-min-height: 150.0;
    -fx-min-width: 5.0;
    -fx-max-height: 150.0;
    -fx-max-width: 5.0;
}

.shapeScale {
	-fx-shape: "M 2.1421349,0.15119457 C 1.2713282,0.1340698 0.45410568,0.80195303 0.29410034,1.6574058 0.11015206,2.4803084 0.55903892,3.3852195 1.3241802,3.7384278 c 0.4354347,0.2120217 0.9538516,0.2441389 1.4120989,0.087437 0.1859913,0.2061983 0.4817475,0.2973551 0.7530295,0.2475 0.37434,0.4091059 0.7418934,0.8248117 1.1205333,1.2297359 0.246317,0.2434269 0.6870047,0.017111 0.6932715,-0.3098034 C 5.3104155,4.7453978 5.0764384,4.6043286 4.9401797,4.4270605 4.6601554,4.1175619 4.380131,3.8080632 4.1001067,3.4985646 4.1504388,3.2511761 4.0318255,3.0026259 3.8466873,2.8420446 4.2220639,2.08883 4.0001578,1.1050834 3.3423933,0.58199493 3.0083403,0.30449243 2.5762352,0.14960472 2.1421349,0.15119457 Z m 0,0.69242 C 2.776101,0.82819197 3.3231484,1.4119697 3.3065658,2.0377546 3.3231488,2.6635395 2.776101,3.2473172 2.1421349,3.2318946 1.5078607,3.2474062 0.96187041,2.6631592 0.97815351,2.0377546 0.96579705,1.4081795 1.5021283,0.83153369 2.1421349,0.84361457 Z";
	-fx-background-color: -icon-menu;
	/* original size: 21 x 21*/
    -fx-min-height: 16.0;
    -fx-min-width: 16.0;
    -fx-max-height: 16.0;
    -fx-max-width: 16.0;
}

.shape-complete-graph {
	-fx-shape: "m 2.110356,0.01575354 c -0.2680416,-2e-8 -0.4833018,0.22737074 -0.4833018,0.50037789 0,0.084576 0.022534,0.1642136 0.058989,0.23492406 L 0.74376044,1.6912692 c -0.0739519,-0.048409 -0.16062759,-0.077618 -0.2545873,-0.077618 -0.26804159,0 -0.48123215,0.2294404 -0.4812321,0.5024476 2e-8,0.273007 0.21319055,0.5008954 0.4812321,0.5008954 0.0830238,0 0.15964326,-0.023829 0.2276797,-0.062095 L 1.6741424,3.5023577 c -0.029466,0.064711 -0.047088,0.1361342 -0.047088,0.2116386 0,0.2730072 0.2152602,0.5024479 0.4833018,0.5024479 0.2680415,-3e-7 0.4812321,-0.2294407 0.4812321,-0.5024479 10e-8,-0.072795 -0.016165,-0.1420207 -0.043465,-0.2049116 l 0.9893713,-0.943836 c 0.06355,0.032155 0.1339374,0.051745 0.2095689,0.051745 0.2680414,-1e-7 0.4833017,-0.2278884 0.4833017,-0.5008954 0,-0.2730071 -0.2152603,-0.5024476 -0.4833017,-0.5024476 -0.082572,0 -0.1588718,0.023441 -0.2266449,0.061577 L 2.5470871,0.72363045 c 0.027871,-0.0636413 0.044501,-0.13390301 0.044501,-0.20749902 10e-8,-0.2730071 -0.2131906,-0.50037784 -0.4812321,-0.50037789 z m 0,0.21112118 c 0.1480226,3e-8 0.270111,0.12482712 0.270111,0.28925671 0,0.16442961 -0.1220884,0.29184395 -0.270111,0.29184398 -0.1480226,2e-8 -0.2716633,-0.12741435 -0.2716633,-0.29184398 0,-0.16442965 0.1236407,-0.28925672 0.2716633,-0.28925671 z M 2.4053048,0.90991383 3.3496582,1.833569 C 3.316586,1.8837026 3.2927176,1.9403142 3.2787664,2.0007066 L 2.576582,1.9986368 C 2.5346404,1.8190055 2.4002741,1.6750602 2.2262657,1.6296921 l 0.00156,-0.627154 C 2.2939327,0.985053 2.3534659,0.9525418 2.4053107,0.9099138 Z m -0.5686819,0.0191458 c 0.047213,0.0341447 0.1008798,0.059115 0.1583408,0.0739959 l -0.00156,0.6271541 C 1.8189126,1.6760822 1.6831725,1.8204906 1.6415429,2.0007066 L 0.95695142,1.9991543 C 0.94541143,1.94992 0.92713055,1.9036636 0.90261879,1.860994 Z M 0.48917314,1.8247723 c 0.14802263,0 0.27166329,0.1268968 0.27166327,0.2913265 0,0.1644296 -0.12364066,0.2892566 -0.27166327,0.2892566 -0.14802261,0 -0.2701109,-0.124827 -0.27011092,-0.2892566 -2e-8,-0.1644297 0.12208828,-0.2913265 0.27011092,-0.2913265 z m 1.62118286,0 c 0.1480227,0 0.270111,0.1268968 0.270111,0.2913265 -10e-8,0.1644296 -0.1220884,0.2892566 -0.270111,0.2892566 -0.1480226,0 -0.2716633,-0.124827 -0.2716633,-0.2892566 0,-0.1644297 0.1236407,-0.2913265 0.2716633,-0.2913265 z m 1.6367068,0 c 0.1480226,0 0.2721805,0.1268968 0.2721805,0.2913265 0,0.1644296 -0.1241579,0.2892566 -0.2721805,0.2892566 -0.1480227,0 -0.2716634,-0.124827 -0.2716634,-0.2892566 -3e-7,-0.1644297 0.1236404,-0.2913265 0.2716634,-0.2913265 z m -2.78959396,0.4072362 0.68459146,0.00156 c 0.042328,0.1794495 0.1783148,0.3225143 0.3529034,0.3673921 l -0.00156,0.6287065 c -0.06541,0.017062 -0.1247697,0.048018 -0.1764518,0.08952 L 0.88864753,2.3965589 C 0.92102494,2.3472305 0.943669,2.2913707 0.95746884,2.2320085 Z m 1.61963056,0 0.7021848,0.00156 c 0.015474,0.065602 0.043334,0.1260678 0.08124,0.179039 L 2.4068571,3.3228013 C 2.3542308,3.2793918 2.2937067,3.24659 2.2262657,3.2291421 l 0.00156,-0.6287064 C 2.4015749,2.5548179 2.5357181,2.4114906 2.5770994,2.2320085 Z M 2.110356,3.4247395 c 0.1480227,4e-7 0.270111,0.1248273 0.270111,0.2892568 -10e-8,0.1644296 -0.1220884,0.2913264 -0.270111,0.2913264 -0.1480226,3e-7 -0.2716633,-0.1268968 -0.2716633,-0.2913264 0,-0.1644295 0.1236407,-0.2892568 0.2716633,-0.2892568 z";
	-fx-background-color: -color-complete-graph;
	-fx-min-height: 16.0;
    -fx-min-width: 16.0;
    -fx-max-height: 16.0;
    -fx-max-width: 16.0;
}

.shape-show-matrix {
	-fx-shape: "m 0.53640137,0.05442754 c -0.2743676,0 -0.49506022,0.22121 -0.49506022,0.49557998 V 3.7100175 c 0,0.27437 0.22069262,0.49506 0.49506022,0.49506 H 3.6964152 c 0.2743676,0 0.495577,-0.22069 0.495577,-0.49506 V 0.55000752 c 0,-0.27436998 -0.2212094,-0.49557998 -0.495577,-0.49557998 z m 0.0501261,0.54569998 H 1.5301392 v 0.3974 H 0.98391928 V 1.5742275 H 0.5865275 Z m 2.11615003,0 H 3.6462891 V 1.5742275 H 3.2488974 V 0.99752752 H 2.7026775 Z M 0.58652747,2.6857875 h 0.39739181 v 0.54984 H 1.5301392 v 0.42426 H 0.5865275 Z m 2.66236993,0 h 0.3973917 v 0.9741 H 2.7026775 v -0.42426 h 0.5462199 z";
	-fx-background-color: -color-show-matrix;
	-fx-min-height: 16.0;
    -fx-min-width: 16.0;
    -fx-max-height: 16.0;
    -fx-max-width: 16.0;
}

.shape-generate-graph {
	-fx-shape: "m 2.8682625,0.38965558 c -0.1911917,0 -0.8087411,0.0413 -0.9825746,0.10396 V 4.7278756 c 0.1739596,0.0609 0.791234,0.10395 0.9825746,0.10395 h 5.3564196 c 0.1881766,0 0.8028918,-0.0413 0.9743138,-0.10115 V 0.49071558 c -0.171305,-0.0591 -0.7862824,-0.10115 -0.9743138,-0.10115 z m -1.5926886,0.16735 c -0.69531561,0.32986 -1.18292321,1.12107002 -1.18292321,2.05353002 0,0.93242 0.487575,1.72648 1.18292321,2.05633 z m 8.543092,0 V 4.6640256 c 0.6935701,-0.33043 1.1800311,-1.12256 1.1800311,-2.05349 0,-0.93133 -0.48602,-1.72292002 -1.1800311,-2.05353002 z M 3.611569,1.1268456 v 0.004 c 0.14892,0 0.294439,0.0297 0.4280477,0.0692 0.1346489,0.0473 0.2569846,0.11341 0.3702049,0.20216 v 0.41084 c -0.1142313,-0.12052 -0.235893,-0.21399 -0.3644236,-0.27486 -0.1285003,-0.0597 -0.2631326,-0.0923 -0.4049165,-0.0923 -0.2794833,0 -0.4897561,0.0976 -0.6305076,0.29201 -0.1397445,0.19383 -0.2082456,0.48593 -0.2082456,0.87056 0,0.38366 0.068529,0.6706 0.2082456,0.86478 0.140768,0.19383 0.3510225,0.28908 0.6305076,0.28908 0.1091358,0 0.209333,-0.004 0.2950066,-0.0297 0.085679,-0.0237 0.1601384,-0.0591 0.2284857,-0.10986 v -0.76358 H 3.6607279 v -0.31801 h 0.8098247 v 1.22051 c -0.1193388,0.1059 -0.2524153,0.1879 -0.3962386,0.24296 -0.1438166,0.0473 -0.2995583,0.078 -0.4627591,0.078 -0.3569989,0 -0.6338962,-0.13118 -0.8358572,-0.39074 -0.2009331,-0.26069 -0.3007936,-0.61779 -0.3007936,-1.08165 0,-0.46463 0.099853,-0.8289 0.3007936,-1.08752 0.2019676,-0.25951 0.4788618,-0.39368 0.8358572,-0.39368 z m 2.1228988,0.60741 c 0.2728508,0 0.4896971,0.0952 0.6478603,0.28905 0.15937,0.19383 0.2400546,0.45636 0.2400546,0.78958 v 0.004 0.17624 H 5.0894993 c 0.014661,0.25299 0.082187,0.44808 0.2053489,0.58167 0.1243571,0.13296 0.2996706,0.19921 0.5206015,0.19921 0.127975,0 0.2506715,-0.0178 0.370205,-0.0473 0.1207277,-0.0354 0.2432231,-0.0923 0.3615271,-0.15904 v 0.34699 c -0.1195343,0.0473 -0.2446535,0.097 -0.3702049,0.12764 -0.1255565,0.0237 -0.2555007,0.0473 -0.384664,0.0473 -0.3235585,0 -0.5768958,-0.10353 -0.7664425,-0.3127 -0.1883485,-0.20809 -0.2805531,-0.49241 -0.2805531,-0.84739 0,-0.36769 0.084508,-0.65641 0.2631973,-0.87057 0.1798943,-0.21577 0.421705,-0.321 0.7259508,-0.321 z m 2.1720682,0 c 0.2330141,0 0.4097639,0.0757 0.5292797,0.23703 0.1195343,0.15845 0.1822118,0.39193 0.1822118,0.69992 v 0.004 1.35359 H 8.2825282 v -1.3391 c 0,-0.21221 -0.035054,-0.37713 -0.1099043,-0.48296 -0.074839,-0.1057 -0.191587,-0.15608 -0.3412867,-0.15608 -0.1798882,0 -0.3184332,0.0602 -0.4222662,0.19382 -0.1038387,0.12705 -0.1994198,0.30089 -0.1590755,0.51489 v 1.26969 H 6.917388 v -2.24441 h 0.3326086 v 0.34756 c 0.079696,-0.13533 0.1759861,-0.23527 0.283438,-0.30088 0.1086617,-0.0597 0.2318436,-0.0982 0.3731014,-0.0982 z m -2.1662822,0.31211 c -0.1859302,0 -0.3331229,0.0532 -0.4454032,0.17387 -0.11108,0.11696 -0.1768675,0.2802 -0.1937801,0.49182 l 1.1887069,-0.002 c -0.00251,-0.201 -0.053085,-0.36 -0.1532884,-0.48001 -0.09901,-0.12053 -0.2320504,-0.18217 -0.3962326,-0.18217 z";
	-fx-background-color: -color-generate-graph;
	-fx-min-height: 21.0;
    -fx-min-width: 44.0;
    -fx-max-height: 21.0;
    -fx-max-width: 44.0;
}

.shape-save {
	-fx-shape: "m 2.0758396,0.19145787 c -0.156869,0 -0.2828767,0.12041717 -0.2828767,0.26958363 v 1.46277 L 1.564322,1.7111223 C 1.4553564,1.6096681 1.2775217,1.6274077 1.164998,1.7504698 L 1.142666,1.7749288 C 1.0301418,1.8980631 1.027318,2.0786273 1.1362801,2.180102 l 0.794926,0.7406902 c 0.030673,0.028605 0.067168,0.045319 0.1058129,0.055299 0.1091373,0.038586 0.2299466,0.020157 0.3068041,-0.057426 L 3.1068505,2.1476668 C 3.2114737,2.0420147 3.1939248,1.8691504 3.0669714,1.7600408 L 3.0419796,1.7387718 C 2.915027,1.6296624 2.7281374,1.6265228 2.6235144,1.7323913 L 2.4246499,1.9333825 v -1.472341 c 0,-0.14916646 -0.1260077,-0.26958363 -0.2828767,-0.26958363 z M 0.27063981,2.4826524 c -0.13378394,0 -0.24140218,0.091475 -0.24140229,0.2052451 v 0.9533793 0.056363 0.038284 c 1.1e-7,0.1137913 0.10761835,0.2052451 0.24140229,0.2052451 h 0.055831 3.57796429 0.047324 0.00851 c 0.1337837,0 0.2419332,-0.091475 0.2419332,-0.2052451 V 3.69764 3.6412768 2.6878975 c 0,-0.1137913 -0.1081495,-0.2052451 -0.2419333,-0.2052451 H 3.904438 c -0.1337837,0 -0.241402,0.091475 -0.241402,0.2052451 V 3.3972161 H 0.56787297 V 2.6878975 c 0,-0.1137913 -0.10761825,-0.2052451 -0.24140218,-0.2052451 z";
	-fx-background-color: -color-save;
	-fx-min-height: 15.0;
    -fx-min-width: 16.0;
    -fx-max-height: 15.0;
    -fx-max-width: 16.0;
}

.shape-load {
	-fx-shape: "m 2.1130045,0.17793661 c -0.083664,-0.007476 -0.1656814,0.017254 -0.223356,0.0754857 L 1.1259976,1.0248289 C 1.0213241,1.1305333 1.0387439,1.3034349 1.16581,1.4126001 l 0.025327,0.021206 c 0.1270062,0.1091468 0.3135924,0.1124892 0.4182759,0.0062 L 1.808468,1.2388763 v 1.4730142 c 0,0.1492375 0.126381,0.2698879 0.2833332,0.2698879 h 0.066185 c 0.1569492,0 0.2828156,-0.1201358 0.2828156,-0.2693707 v -1.463705 l 0.2290437,0.2130151 c 0.1090156,0.1015001 0.2870855,0.083769 0.3996629,-0.039295 l 0.022229,-0.024815 C 3.2043239,1.2744048 3.2068302,1.0937793 3.0974278,0.99225709 L 2.3022373,0.2513547 C 2.2715213,0.2227391 2.2348873,0.2060364 2.1962463,0.1960338 2.1689573,0.1863688 2.1408913,0.1804285 2.1130063,0.177927 Z M 0.2718665,2.4683728 c -0.13385106,0 -0.24145149,0.091969 -0.24145149,0.205778 v 0.9534005 0.056873 0.03826 c 0,0.113848 0.10760045,0.2052605 0.24145149,0.2052605 h 0.0558382 3.5799052 0.047049 0.00879 c 0.1338538,0 0.241969,-0.091463 0.241969,-0.2052605 v -0.03826 -0.056873 -0.9534005 c 0,-0.113848 -0.1081182,-0.205778 -0.241969,-0.205778 h -0.055838 c -0.133851,0 -0.2419688,0.091969 -0.2419688,0.205778 V 3.3835132 H 0.5691577 V 2.6741498 c 0,-0.113848 -0.10760044,-0.205778 -0.24145147,-0.205778 z";
	-fx-background-color: -color-load;
	-fx-min-height: 15.0;
    -fx-min-width: 16.0;
    -fx-max-height: 15.0;
    -fx-max-width: 16.0;
}

.shape-generate-graph-settings {
	-fx-shape: "m 1.8902529,0.03508669 -0.2398983,0.53285 a 1.6172487,1.6172487 0 0 0 -0.297423,0.12306 l -0.54580495,-0.20572 -0.32107638,0.31957 0.20613175,0.54611991 a 1.6172487,1.6172487 0 0 0 -0.12337093,0.29936 l -0.53226472,0.23982 v 0.45308 l 0.53226472,0.23982 a 1.6172487,1.6172487 0 0 0 0.12337093,0.29761 l -0.20613175,0.54613 0.31939463,0.32131 0.5458051,-0.20629 a 1.6172487,1.6172487 0 0 0 0.2991102,0.12366 l 0.2398987,0.53281 h 0.4528206 l 0.2398987,-0.53397 a 1.6172487,1.6172487 0 0 0 0.2974227,-0.12367 l 0.5474867,0.20803 0.3193947,-0.31956 -0.2061317,-0.54613 a 1.6172487,1.6172487 0 0 0 0.1233717,-0.29936 l 0.5322647,-0.23982 v -0.45306 l -0.5322648,-0.23982 a 1.6172487,1.6172487 0 0 0 -0.1233717,-0.29767 l 0.2061316,-0.54612991 -0.3193945,-0.3213 -0.5474867,0.20571 a 1.6172487,1.6172487 0 0 0 -0.297423,-0.12366 l -0.2398984,-0.53281 z M 2.1166634,1.3159066 a 0.79963374,0.79963374 0 0 1 0.7992558,0.79936 0.79963374,0.79963374 0 0 1 -0.7992558,0.79927 0.79963374,0.79963374 0 0 1 -0.7992542,-0.79927 0.79963374,0.79963374 0 0 1 0.7992542,-0.79936 z";
	-fx-background-color: -color-generate-graph-settings;
	-fx-min-height: 20.0;
    -fx-min-width: 20.0;
    -fx-max-height: 20.0;
    -fx-max-width: 20.0;
}

.shape-build-graph {
	-fx-shape: "m 2.7159718,0.16523839 c -1.4615885,0 -2.63999538,1.17522511 -2.63999538,2.63675931 0,1.4616107 1.17840688,2.636836 2.63999538,2.636836 h 6.7689736 c 1.4615896,0 2.6399956,-1.1752253 2.6399956,-2.636836 0,-1.4615342 -1.178406,-2.63675931 -2.6399956,-2.63675931 z M 7.520892,1.2843081 h 0.3602869 v 2.978013 H 7.520892 Z m 2.1744886,0 h 0.3602864 v 2.978013 H 9.6953806 V 4.0420708 c -0.056143,0.049324 -0.1058491,0.087687 -0.1466606,0.1177659 -0.040785,0.031098 -0.088618,0.055442 -0.143477,0.082717 -0.051019,0.024853 -0.1013756,0.043079 -0.1562285,0.055569 -0.054843,0.013637 -0.1185817,0.017716 -0.191306,0.017716 -0.1160836,0 -0.2257082,-0.024471 -0.3252169,-0.073413 C 8.6342475,4.1931018 8.5526879,4.1214736 8.4837941,4.0290451 8.413629,3.9344755 8.3594516,3.8187488 8.3211844,3.6816865 8.2829321,3.5427762 8.2638041,3.3830402 8.2638041,3.2035236 c 0,-0.1874952 0.021648,-0.3479832 0.070145,-0.4849562 0.048496,-0.1376103 0.1153966,-0.2585371 0.2008674,-0.3603205 0.077821,-0.09304 0.1740588,-0.167842 0.2837673,-0.2202504 0.1109918,-0.055442 0.2263377,-0.079658 0.3475334,-0.079658 0.1071492,0 0.1982968,0.011471 0.277395,0.036961 0.079084,0.024726 0.163854,0.061687 0.2518815,0.108462 z M 6.6026326,1.3931524 H 7.0107491 V 1.7664348 H 6.6026326 Z M 2.145248,1.4106134 h 0.75565 c 0.202843,0 0.3551598,0.0051 0.4559396,0.017588 0.1020626,0.011471 0.2002018,0.043079 0.2933309,0.095589 0.1020626,0.055442 0.1759848,0.1246483 0.2231847,0.2133679 0.0472,0.088197 0.073332,0.1925933 0.073332,0.312819 0,0.1336848 -0.036959,0.2548155 -0.1084122,0.3603336 -0.070165,0.105403 -0.1683153,0.1881832 -0.2933304,0.2486593 v 0.013637 c 0.1696727,0.04308 0.302234,0.1295814 0.3953629,0.2517191 0.093127,0.1215895 0.1402928,0.2739588 0.1402928,0.4559607 v 0.013637 c 0,0.1412172 -0.029308,0.2647058 -0.082898,0.3733079 C 3.9441452,3.8750574 3.8746608,3.9646564 3.7840796,4.0349846 3.6769266,4.1194855 3.5590128,4.1776676 3.4365458,4.2132139 3.3140781,4.2441849 3.158572,4.2626655 2.9646632,4.2626655 H 2.1452444 Z m 0.3794199,0.3251308 v 0.8353737 h 0.430433 c 0.118648,0 0.2053166,-0.0051 0.2614507,-0.017461 0.056147,-0.011471 0.1153953,-0.036961 0.1753619,-0.076472 0.05738,-0.036961 0.096919,-0.086413 0.12116,-0.1467741 0.023878,-0.061686 0.037945,-0.1302557 0.038252,-0.2164644 C 3.5509376,2.0461417 3.5387208,1.9843657 3.5162789,1.935717 3.4933273,1.8862655 3.4557506,1.8443337 3.404683,1.8146373 3.3434778,1.7835389 3.2758977,1.7591955 3.2006247,1.7512935 3.1253527,1.7461954 3.0208389,1.7376561 2.8881609,1.7376561 Z M 6.62495,2.1244866 H 6.9852371 V 4.2638762 H 6.62495 Z m -2.2095609,0.00127 h 0.3571035 v 1.2180489 c 0,0.1140699 0.00506,0.2091492 0.012707,0.2837726 0.00904,0.073922 0.028073,0.1383367 0.05738,0.1943775 0.029368,0.055442 0.068252,0.09508 0.1179813,0.1209523 0.051026,0.024726 0.1256018,0.037089 0.2200006,0.037089 0.088019,0 0.1810682,-0.024726 0.2805774,-0.073285 0.099515,-0.049324 0.1912799,-0.112158 0.2742043,-0.1850735 V 2.127469 h 0.36028 V 4.263685 H 5.7353463 V 4.025604 C 5.6243544,4.12234 5.519202,4.198302 5.4196926,4.2489515 c -0.099515,0.049324 -0.2123146,0.073285 -0.3347805,0.073285 -0.093137,0 -0.1817097,-0.013637 -0.2646346,-0.043079 C 4.7386264,4.2480594 4.6678862,4.2002647 4.6066563,4.1323836 4.5454511,4.0662358 4.4976259,3.9818242 4.4631794,3.8806397 4.4300481,3.7800798 4.4153631,3.6579295 4.4153631,3.5141378 Z M 9.2234973,2.393564 c -0.1849805,0 -0.329012,0.071883 -0.4336231,0.2102709 C 8.6852639,2.7414324 8.633646,2.9382191 8.633646,3.1998405 c 0,0.2511192 0.040783,0.4466951 0.1211601,0.5799975 0.080364,0.1328562 0.2084692,0.1974493 0.3857936,0.1974493 0.094404,0 0.188084,-0.024853 0.2837676,-0.063344 0.095678,-0.043079 0.1868132,-0.098776 0.2710146,-0.1719968 V 3.7406722 2.509954 C 9.6060888,2.4668751 9.5245002,2.4373062 9.4530631,2.4204824 9.3829006,2.4030215 9.3064241,2.3958841 9.2234985,2.3958841 Z M 2.5246679,2.8846889 v 1.052119 h 0.309274 c 0.1658478,0 0.2964961,-0.0051 0.3921732,-0.024726 0.095676,-0.017461 0.1791625,-0.049451 0.2518875,-0.095589 C 3.5494376,3.7670419 3.6010565,3.7098153 3.634231,3.6473509 3.666993,3.5845169 3.684822,3.5011631 3.685255,3.4017885 3.6849029,3.2963854 3.6677306,3.2056521 3.6374364,3.1370955 3.6067727,3.0667418 3.5456096,3.0100255 3.4525112,2.9617465 3.3925398,2.9306482 3.3262735,2.9063048 3.2548326,2.8984027 3.1846676,2.8933046 3.0852461,2.8847653 2.9551221,2.8847653 Z";
	-fx-background-color: -color-build-graph;
	-fx-min-height: 20.0;
    -fx-min-width: 44.0;
    -fx-max-height: 20.0;
    -fx-max-width: 44.0;
}

/* CUSTOM BUTTONS */
.toggle-custom {
	/* #006FFF */
	-icon-paint: black;
	-icon-addEdge: black;
    -fx-background-color: transparent;
    -fx-padding: 2.0px;
}
.toggle-custom:hover {
	-fx-background-color: #DCDCDC;
	-icon-paint: #006FFF;
	-icon-addEdge: #006FFF;
}
.toggle-custom:selected {
	/*-fx-effect: dropshadow( one-pass-box , black , 4, 0.0 , 0 , 1 ); */
	-fx-background-color: #DCDCDC;
    -icon-paint: linear-gradient(to bottom, #FFC618, red);
    -icon-addEdge: linear-gradient(to bottom, #FFC618, red);
}
.toggle-custom:armed {
	-fx-background-color: #C0C0C0;
    -icon-paint: linear-gradient(to bottom, #FFC618, red);
    -icon-addEdge: linear-gradient(to bottom, #FFC618, red);
}
.toggle-custom:selected:hover {
	-fx-background-color: #C0C0C0;
}
.toggle-custom:selected:armed {
	-fx-background-color: #DCDCDC;
    -icon-paint: linear-gradient(to bottom, red, #FFC618);
    -icon-addEdge: linear-gradient(to bottom, red, #FFC618);
}

.button-custom {
  -icon-clear: black;
  -color-complete-graph: black;
  -color-generate-graph: black;
  -color-load: black;
  -color-generate-graph-settings: black;
  -color-build-graph: black;
  -fx-background-color: transparent;
  -fx-padding: 2.0px;
}
.button-custom:hover {
	-fx-background-color: #DCDCDC;
	-icon-clear: #006FFF;
	-color-complete-graph: #006FFF;
	-color-generate-graph: #006FFF;
	-color-load: #006FFF;
	-color-generate-graph-settings: #006FFF;
	-color-build-graph: #006FFF;
}
.button-custom:armed {
	-fx-background-color: #C0C0C0;
    -icon-clear: linear-gradient(to bottom, #FFC618, red);
    -color-complete-graph: linear-gradient(to bottom, #FFC618, red);
    -color-generate-graph: linear-gradient(to bottom, #FFC618, red);
    -color-load: linear-gradient(to bottom, #FFC618, red);
    -color-generate-graph-settings: linear-gradient(to bottom, #FFC618, red);
    -color-build-graph: linear-gradient(to bottom, #FFC618, red);
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0.0px;
}
.list-view .scroll-bar:vertical {
    -fx-scale-x: 0.0;
    
}
.toggle-hide-leftpane{
	-shape-show: "M 0.66145838,6.6145833 C 0.2950105,6.6145833 5.8333333e-8,6.8256533 5.8333333e-8,7.0881733 V 45.828493 c 0,0.26253 0.295010441666667,0.47359 0.661458321666667,0.47359 0.36644792,0 0.66145822,-0.21106 0.66145822,-0.47359 V 7.0881733 c 0,-0.26252 -0.2950103,-0.47359 -0.66145822,-0.47359 z m 0.19792074,0.97122 0.43718258,0.0761 -0.81442054,3.6408697 0.81442054,3.65268 -0.43718258,0.0756 -0.83302408,-3.73008 z m 0,10.0996297 0.43718258,0.0761 -0.81442054,3.64088 0.81442054,3.65267 -0.43718258,0.0761 -0.83302408,-3.72876 z m 0,10.10007 0.43718258,0.0778 -0.81442054,3.63913 0.81442054,3.65267 -0.43718258,0.0761 -0.83302408,-3.72876 z m 0,10.10139 0.43718258,0.0761 -0.81442054,3.63957 0.81442054,3.65398 -0.43718258,0.0743 -0.83302408,-3.72833 z";
	-shape-hide: "m 0.66145828,6.6145833 c 0.36644792,0 0.66145832,0.21107 0.66145832,0.47359 V 45.828493 c 0,0.26253 -0.2950104,0.47359 -0.66145832,0.47359 C 0.29501036,46.302083 5.8333333e-8,46.091023 5.8333333e-8,45.828493 V 7.0881733 c 0,-0.26252 0.295010301666667,-0.47359 0.661458221666667,-0.47359 z m -0.19792074,0.97122 -0.43718258,0.0761 0.81442054,3.6408697 -0.81442054,3.65268 0.43718258,0.0756 0.83302406,-3.73008 z m 0,10.0996297 -0.43718258,0.0761 0.81442054,3.64088 -0.81442054,3.65267 0.43718258,0.0761 0.83302406,-3.72876 z m 0,10.10007 -0.43718258,0.0778 0.81442054,3.63913 -0.81442054,3.65267 0.43718258,0.0761 0.83302406,-3.72876 z m 0,10.10139 -0.43718258,0.0761 0.81442054,3.63957 -0.81442054,3.65398 0.43718258,0.0743 0.83302406,-3.72833 z";
	-shape-hide-show: -shape-show;
	-icon-hide-leftpane: black;
 	-fx-background-color: transparent;
}
.toggle-hide-leftpane:hover {
	-fx-background-color: #DCDCDC;
	-icon-hide-leftpane: #006FFF;
}
.toggle-hide-leftpane:selected {
    -icon-hide-leftpane: black;
    -shape-hide-show: -shape-hide;
}
.toggle-hide-leftpane:armed {
	-fx-background-color: #C0C0C0;
    -icon-hide-leftpane: linear-gradient(to bottom, #FFC618, red);
}
.toggle-hide-leftpane:selected:hover {
    -fx-background-color: #DCDCDC;
	-icon-hide-leftpane: #006FFF;
}
.toggle-hide-leftpane:selected:armed {
    -fx-background-color: #C0C0C0;
    -icon-hide-leftpane: linear-gradient(to bottom, #FFC618, red);
}

.button-black {
  -color-complete-graph: #DCDCDC;
  -icon-centre: #DCDCDC;
  -icon-console: #DCDCDC;
  -icon-arrow: black;
  -color-show-matrix: #DCDCDC;
  -color-save: #DCDCDC;
  -fx-background-color: transparent;
  -fx-padding: 1.0px;
}
.button-black:hover {
	-color-complete-graph: #006FFF;
	-icon-centre: #006FFF;
	-icon-console: #006FFF;
	-color-show-matrix: #006FFF;
  	-color-save: #006FFF;
}
.button-black:armed {
	-color-complete-graph: linear-gradient(to bottom, #FFC618, red);
    -icon-centre: linear-gradient(to bottom, #FFC618, red);
    -icon-console: linear-gradient(to bottom, #FFC618, red);
    -color-show-matrix: linear-gradient(to bottom, #FFC618, red);
  	-color-save: linear-gradient(to bottom, #FFC618, red);
}
.button-black:selected {
	/*-fx-effect: dropshadow( one-pass-box , black , 4, 0.0 , 0 , 1 ); */
    -icon-console: #DCDCDC; 
    -icon-arrow:red;
}
.button-black:selected:hover {
	/*-fx-effect: dropshadow( one-pass-box , black , 4, 0.0 , 0 , 1 ); */
    -icon-console: #F5F5F5; 
    -icon-arrow:red;
}
.button-black:selected:armed {
	/*-fx-effect: dropshadow( one-pass-box , black , 4, 0.0 , 0 , 1 ); */
    -icon-console: linear-gradient(to bottom, #FFC618, red);
    -icon-arrow:red;
}

.menuButtonScale {
	-icon-menu: #000000;
	-fx-background-color: transparent;
    -fx-padding: 0.0px;
    -fx-min-height: 21.0px;
}
.menuButtonScale:hover {
	-fx-background-color: #DCDCDC;
	-icon-menu: #006FFF;
}
.menuButtonScale:pressed {
	-fx-background-color: #C0C0C0;
	-icon-menu: linear-gradient(to bottom, #FFC618, red);
}

.menuButtonScale > .label {
	-fx-padding: 0.0px 2.0px 0.0px 4.0px;
	-fx-text-fill: #000000;
}

.menuButtonScale > .arrow-button {
	-fx-padding: 0.0px 3.0px 0.0px 2.0px;
}

.menuButtonScale > .arrow-button > .arrow {
	-fx-background-color: -icon-menu;
}

.menu-split-button-alg {
	-icon-alg: black;
	-fx-background-color: transparent, transparent;
	-fx-border-width: 0.0px;
	-fx-min-height: 24.0;
	-fx-max-height: 24.0;

}
.menu-split-button-alg > .label {
	-fx-background-color: transparent, transparent;
	-fx-padding: 2.0px 4.0px 2.0px 4.0px;
	-fx-text-fill: #000000;
}
.menu-split-button-alg > .arrow-button {
	-fx-padding: 0.0px 4.0px 0.0px 5.0px;
	-fx-background-color: transparent, transparent;
	-fx-background-radius: 0.0px 3.0px 3.0px 0.0px;
	-fx-border-color: transparent transparent transparent black;
	-fx-border-insets: 5.0px 0.0px 5.0px 0.0px;
}
.menu-split-button-alg > .arrow-button > .arrow {
	-fx-background-color: -icon-alg;
}
.menu-split-button-alg:focused {
    -fx-background-color: transparent;
}
.menu-split-button-alg:focused > .label {
    -fx-background-color: transparent, transparent, transparent, transparent; 
}
.menu-split-button-alg:focused > .arrow-button {
    -fx-background-color: transparent, transparent, transparent, transparent; 
}
.menu-split-button-alg > .label:hover,
.menu-split-button-alg > .arrow-button:hover {
	-fx-background-color: #DCDCDC;
	-icon-alg: #006FFF;
}
.menu-split-button-alg > .label:pressed,
.menu-split-button-alg > .arrow-button:pressed {
	-fx-background-color: #C0C0C0;
    -icon-alg: linear-gradient(to bottom, #FFC618, red);
}


.menu-split-buttonTUGGLE-alg {
	-icon-alg: black;
	-fx-background-color: RED;
	-fx-border-color: transparent;
	-fx-border-insets: 0.0px;
	-fx-border-image-insets: 0.0px;
	-fx-highlight-text-fill: transparent;
	-fx-tick-label-fill: transparent;
	-fx-border-image-width: 0.0px;
	-fx-label-line-length: 0.0px;
	-fx-label-padding: 0.0px;
	-fx-stroke-width: 0.0px;
	-fx-stroke: transparent;
	-fx-arc-width: 0.0px;
	-fx-arc-height: 0.0px;
	-fx-arrow-button-gap: 0.0px;
	-fx-padding: 0.0px;
	-fx-stroke-borders: transparent;
	-fx-background-fills: transparent;
	-fx-highlight-fill: transparent;
	-fx-background-insets: 0.0px;
	-fx-border-width: 0.0px;
	-fx-min-height: 24.0;
	-fx-max-height: 24.0;

}
.menu-split-buttonTUGGLE-alg > .label {
	-fx-background-color: red, red;
	-fx-padding: 2.0px 4.0px 2.0px 4.0px;
	-fx-text-fill: #000000;
}
.menu-split-buttonTUGGLE-alg > .arrow-button {
	-fx-padding: 0.0px 3.0px 0.0px 3.0px;
	-fx-background-color: red, red;
	-fx-background-radius: 0.0px 3.0px 3.0px 0.0px;
	-fx-border-color: transparent transparent transparent black;
	-fx-border-insets: 5.0px 0.0px 5.0px 0.0px;
}
.menu-split-buttonTUGGLE-alg > .arrow-button > .arrow {
	-fx-background-color: -icon-alg;
}
.menu-split-buttonTUGGLE-alg:focused {
    -fx-background-color: red;
}
.menu-split-buttonTUGGLE-alg:focused > .label {
    -fx-background-color: red; 
}
.menu-split-buttonTUGGLE-alg:focused > .arrow-button {
    -fx-background-color: red; 
}
.menu-split-buttonTUGGLE-alg > .label:hover,
.menu-split-buttonTUGGLE-alg > .arrow-button:hover {
	-fx-background-color: #B22222;
	-icon-alg: #006FFF;
}
.menu-split-buttonTUGGLE-alg > .label:pressed,
.menu-split-buttonTUGGLE-alg > .arrow-button:pressed {
	-fx-background-color: #8B0000;
    -icon-alg: linear-gradient(to bottom, #FFC618, red);
}

.menu-item {
    -fx-padding: 1.0px;  /* 4 5 4 5 */
}
.menu-item > .left-container {
    -fx-padding: 6.0px
}
.menu-item > .graphic-container {
    -fx-padding: 1.0px;
}
.menu-item >.label {
    -fx-padding: 1.0px;
}
/* TabPane  */
.tab-pane-left {
	-fx-tab-min-height: 20.0px;	
}
.tab-pane-left > .tab-header-area {
    -fx-padding: 3.0 2.0 -1.0 2.0; /* 5 2 0 5 */
}
.tab-pane-left > .tab-header-area > .tab-header-background {
	-fx-background-color: transparent;
}
.tab-pane-left > .tab-header-area > .headers-region > .tab {
	-fx-background-color: #DCDCDC;
    -fx-background-radius: 5.0 5.0 0.0 0.0, 3.0 3.0 0.0 0.0, 3.0 3.0 0.0 0.0;
    -fx-padding: 0.0 7.0 0.0 7.5;
    -fx-background-insets: 0.0 1.0 1.0 1.5, 1.0 2.0 0.0 1.0, 2.0 3.0 0.0 2.0;
}
.tab-pane-left > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: white;
    -fx-background-insets: 0.0 1.0 1.0 1.5, 1.0 2.0 0.0 1.0, 2.0 3.0 0.0 2.0;
}
.tab-pane-left > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: black;
}
.tab-pane-left > .tab-header-area > .headers-region > .tab:focused {
    -fx-focus-color: transparent; 
}
.tab-pane-left *.tab-header-background {
	-fx-background-color: #F5F5F5;
}
.tab-pane-left:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab-pane-left .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #006FFF;
}

.tab-pane-left .headers-region .tab-selected-line {
    -fx-background-color: linear-gradient(to right, #FFC618, red);
}
.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: rgba(0,0,0, .87);
}
.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: #006FFF;
}
.spinner-qVertex {
	-fx-min-height: 21.0px;
	-fx-border-color: transparent;
}
.spinner-qVertex > .text-field {
	-fx-background-color: white;
	-fx-border-color: #F5F5F5 transparent #F5F5F5 #F5F5F5;
	-fx-border-radius: 3.0 0.0 0.0 3.0;
    -fx-background-insets: 0.0;
}
.spinner-qVertex > .increment-arrow-button {
     /*Change the two 0's here to -1 to get rid of the horizontal line */
    -color-inc: black;
    -fx-background-color: #F5F5F5;
    -fx-background-insets: 0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 3.0 0.0 0.0;
    -fx-padding: 5.0 8.0 5.0 8.0;  /* 5 8 3 8 */
}
.spinner-qVertex > .decrement-arrow-button {
	-color-dec: black;
	-fx-background-color: #F5F5F5;
    -fx-background-insets: 0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 3.0 0.0;
    -fx-padding: 5.0 8.0 5.0 8.0;  /* 3 8 5 8 */
}
.spinner-qVertex > .increment-arrow-button > .increment-arrow {
    -fx-background-color: -color-inc;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0;
    -fx-padding: 2.0 4.0 2.0 4.0;  /* 2 4 2 4 */
    -fx-shape: "M 0 4 h 7 l -3.5 -4 z";
}
.spinner-qVertex > .increment-arrow-button:hover {
	-fx-background-color: #DCDCDC;
    -color-inc: #006FFF;
}
.spinner-qVertex > .increment-arrow-button:pressed {
	-fx-background-color: #C0C0C0;
    -color-inc: linear-gradient(to bottom, #FFC618, red);
}
.spinner-qVertex > .decrement-arrow-button > .decrement-arrow {
    -fx-background-color: -color-dec;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0;
    -fx-padding: 2.0 4.0 2.0 4.0; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.spinner-qVertex > .decrement-arrow-button:hover {
	-fx-background-color: #DCDCDC;
    -color-dec: #006FFF;
}
.spinner-qVertex > .decrement-arrow-button:pressed {
	-fx-background-color: #C0C0C0;
    -color-dec: linear-gradient(to bottom, #FFC618, red);
}
.jfx-radio-button{
    -jfx-selected-color: #006FFF;
    -jfx-unselected-color: #5A5A5A;
}
.radio-button:selected > .radio > .dot {
	-fx-background-color: black;
	-fx-background-insets: 0.0;
}
/*.radio-button:show-mnemonics > .mnemonic-underline {*/
/*	-fx-stroke: black;*/
/*}*/
.radio-button:focused > .radio {
	-fx-background-color: #F5F5F5, #C0C0C0, #F5F5F5, #F5F5F5;
	-fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 2.0;
    -fx-background-radius: 1.0em;
}
.radio-button > .radio {
	 -fx-background-color: #F5F5F5, #C0C0C0, #F5F5F5, #F5F5F5;
}
.radio-button:hover > .radio {
	 -fx-background-color: #F5F5F5, #DCDCDC, #F5F5F5, #F5F5F5;
}

.jfx-snackbar-content {
    -fx-background-color: #000000;
    -fx-opacity: 0.8;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

.root {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: #C0C0C0;
	-fx-text-background-color: black;
}
.custom-font {
	-fx-font-size: 13;
	-fx-font-family: 'Roboto Light';
}
.custom-medium-font {
	-fx-font-size: 13;
	-fx-font-weight: Bold;
	-fx-font-family: 'Roboto Medium';
}

/*.menu-button { -fx-background-radius: 8px 8px 0px 0px; 	-fx-graphic-text-gap: 0px;     -fx-stroke-width: 1.49px; 
	-fx-label-padding: 0;
	 -fx-background-color: #006FFF; 
	 -fx-background-insets: 0;
	 -fx-padding: 0;
	 -fx-pref-height: 20;
	 -fx-min-height: 15;
	 -fx-border-image-insets: 0;
	 
}*/
/* .split-menu-button:showing {
	-fx-background-color: red;
	
	
	-fx-border-color: #000000;s
	-fx-background-fills: red;
} 
*/